<div class="row">
  <div class="col-md-5">
    <h2>People</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let person of people"
        (click)="selectPerson(person)"
        [class.active]="person === selectedPerson">
        {{person.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewPerson()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <person-details
      [person]="selectedPerson"
      [createHandler]="addPerson"
      [updateHandler]="updatePerson"
      [deleteHandler]="deletePerson">
    </person-details>
  </div>
</div>
